body {
    background-image: url("background.jpg");
}

h5 {
    color: aqua;
    font-weight: bold;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
}

canvas {
    border-width: 10px;
    border-style: groove;
    margin-top: 250px;
}